@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,400;1,100&display=swap');
body{
    font-family: Bungee Hairline;
    background-image: url("./ezgif-4-bbcbc12f84.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
.name{
    font-family: Bungee Hairline;

    color: whitesmoke;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
}
.namein{
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid whitesmoke;
    box-shadow: 3px 3px whitesmoke;
    padding: 1.5vw;

    margin-left: 35vw;
    font-size: x-large;
}
.nickin{
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid whitesmoke;
    box-shadow: 3px 3px whitesmoke;
    padding: 1.5vw;

    margin-left: 35vw;
    font-size: x-large;
}
.button{
    background-color: transparent;
    color: whitesmoke;
    font-family: Bungee Hairline;
    padding: 20px;
    font-weight: bolder;
    font-size: xx-large;
    box-shadow: 5px 5px whitesmoke;
    margin-left: 44vw;
    margin-top: 5vw;
}